<a href="https://colab.research.google.com/github/sohamdas301/Confernce_Website/blob/main/Data_cleaning_and_storage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset = pd.read_csv('/content/Raymonds_Power_BI_Data.csv')

In [ ]:
dataset.head()

,Video_Timestamp,Video_Title,Video_Views,Video_Upload_Date,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,Column13,Column14
0,1899-12-30 00:06:00,Raymond Techno-Stretch | An innovation from th...,496,60,Now playing,NaN,NaN,NaN,NaN,496 views,2 months ago,NaN,NaN,Verified
1,1899-12-30 00:13:00,A story of impeccable style handcrafted in Ita...,219,12,Now playing,219 views,12 days ago,NaN,NaN,NaN,NaN,NaN,NaN,Verified
2,1899-12-30 00:16:00,Raymond - One festival. Many looks.,6500000,150,Now playing,NaN,NaN,6.5M views,5 months ago,NaN,NaN,NaN,NaN,Verified
3,1899-12-30 00:18:00,Hand-Stitched by Raymond,949,330,Now playing,NaN,NaN,NaN,NaN,949 views,11 months ago,NaN,NaN,Verified
4,1899-12-30 00:20:00,Raymond Techno-Stretch | An innovation from th...,82000000,90,Now playing,NaN,NaN,82M views,3 months ago,NaN,NaN,NaN,NaN,Verified

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Video_Timestamp    28 non-null     object
 1   Video_Title        28 non-null     object
 2   Video_Views        28 non-null     int64
 3   Video_Upload_Date  28 non-null     int64
 4   Column5            28 non-null     object
 5   Column6            7 non-null      object
 6   Column7            7 non-null      object
 7   Column8            7 non-null      object
 8   Column9            7 non-null      object
 9   Column10           7 non-null      object
 10  Column11           7 non-null      object
 11  Column12           7 non-null      object
 12  Column13           7 non-null      object
 13  Column14           28 non-null     object
dtypes: int64(2), object(12)
memory usage: 3.2+ KB

In [ ]:
dataset.dtypes

Video_Timestamp      object
Video_Title          object
Video_Views           int64
Video_Upload_Date     int64
Column5              object
Column6              object
Column7              object
Column8              object
Column9              object
Column10             object
Column11             object
Column12             object
Column13             object
Column14             object
dtype: object

In [ ]:
len(dataset)

28

Dataset after removing unmanted fields

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Video_Timestamp    28 non-null     object
 1   Video_Title        28 non-null     object
 2   Video_Views        28 non-null     int64
 3   Video_Upload_Date  28 non-null     int64
 4   Column5            28 non-null     object
 5   Column6            7 non-null      object
 6   Column7            7 non-null      object
 7   Column8            7 non-null      object
 8   Column9            7 non-null      object
 9   Column10           7 non-null      object
 10  Column11           7 non-null      object
 11  Column12           7 non-null      object
 12  Column13           7 non-null      object
 13  Column14           28 non-null     object
dtypes: int64(2), object(12)
memory usage: 3.2+ KB

Drop Duplicate records from the dataset

In [ ]:
len(dataset)

28

In [ ]:
dataset = dataset.drop_duplicates()

After removal of duplicate rows, total rows remaining in the dataset

In [ ]:
len(dataset)

28

In [ ]:
dataset.isna().sum()

Video_Timestamp       0
Video_Title           0
Video_Views           0
Video_Upload_Date     0
Column5               0
Column6              21
Column7              21
Column8              21
Column9              21
Column10             21
Column11             21
Column12             21
Column13             21
Column14              0
dtype: int64

Drop unwanted fields and fields with NA values

In [ ]:
dataset.drop('Column5', inplace=True, axis=1)
dataset.drop('Column6', inplace=True, axis=1)
dataset.drop('Column7', inplace=True, axis=1)
dataset.drop('Column8', inplace=True, axis=1)
dataset.drop('Column9', inplace=True, axis=1)
dataset.drop('Column10', inplace=True, axis=1)
dataset.drop('Column11', inplace=True, axis=1)
dataset.drop('Column12', inplace=True, axis=1)
dataset.drop('Column13', inplace=True, axis=1)
dataset.drop('Column14', inplace=True, axis=1)

Dataset after removal of NA values

In [ ]:
dataset.isna().sum()

Video_Timestamp      0
Video_Title          0
Video_Views          0
Video_Upload_Date    0
dtype: int64

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 27
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Video_Timestamp    28 non-null     object
 1   Video_Title        28 non-null     object
 2   Video_Views        28 non-null     int64
 3   Video_Upload_Date  28 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.1+ KB

In [ ]:
dataset.head(10)

,Video_Timestamp,Video_Title,Video_Views,Video_Upload_Date
0,1899-12-30 00:06:00,Raymond Techno-Stretch | An innovation from th...,496,60
1,1899-12-30 00:13:00,A story of impeccable style handcrafted in Ita...,219,12
2,1899-12-30 00:16:00,Raymond - One festival. Many looks.,6500000,150
3,1899-12-30 00:18:00,Hand-Stitched by Raymond,949,330
4,1899-12-30 00:20:00,Raymond Techno-Stretch | An innovation from th...,82000000,90
5,1899-12-30 00:20:00,Raymond Vibez,1800,365
6,1899-12-30 00:26:00,Raymond Look Good Feel Good - Giving Never Goe...,870,210
7,1899-12-30 00:30:00,Raymond - Durga Pujo Collection,21000,365
8,1899-12-30 00:30:00,"Raymond - Think Weddings, Think Raymond",21000000,365
9,1899-12-30 00:30:00,Raymond Look Good Feel Good,4900000,240